.button {
  width: calc(33% - 2px);
  height: 100px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 28px;
  border: 1px solid white;
  transition: .3s ease;
  border-radius: 5px;
}

.button:hover {
  background-color: lavender;
}